@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

:root {
  --primary: #2a213a;
  --bg-layout: #170f23;
  --bg-purple: #34224f;
  --navigation-text: #dadada;
  --navigation-hover: #fff;
  --bg-sidebar: hsla(0, 0%, 100%, 0.05);
  --bg-alpha: hsla(0, 0%, 100%, 0.1);
  --color-purple: #9b4de0;
  --border-primary: hsla(0, 0%, 100%, 0.1);
  --search-text: #eee;
  --color-link: #c273ed;
  --text-primary: #fff;
  --text-secondary: #ffffff80;
  --padding-section: 59px;
  --alpha-50: rgba(0,0,0,0.5);
  --color-white: #fff;
  --box-item: #ffffff1a;
  --bg-header: #170f23cc;
  --shadow-header: #0000001a;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #2a213a;
}

::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 100%, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background: hsla(0, 0%, 100%, 0.05);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 55%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
figure,
h3 {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;

  a {
    color: inherit;
  }

  &.nav-item {
    border-left: 3px solid transparent;
  }

  &.active {
    background-color: var(--bg-alpha);
    border-color: var(--color-purple);
    color: var(--navigation-hover);
  }

  &:hover a {
    color: var(--navigation-hover);
  }
}

button {
  padding: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
}

button.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
}

.btn {
  padding: 10px 24px;
}

.btn-alpha {
  background-color: var(--bg-alpha);
}

.app-layout {
  display: flex;
  height: 100vh;
  background-color: var(--bg-layout);
}

.wrapper-sidebar {
  background-color: var(--bg-sidebar);
  color: var(--navigation-text);
}

.form-control {
  background: none;
  border: 0;
  outline: 0;
  color: var(--search-text);
  font-size: 14px;

  &::placeholder {
    color: var(--search-text);
  }
}

main.main {
  position: relative;
  width: calc(100vw - 240px);
  height: 100vh;
  flex-grow: 1;
  overflow: hidden scroll;
  .content {
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 70px;
    padding: 0 var(--padding-section);
  }
}

section.section {
  margin-top: 48px;
}

h3.title {
  color: var(--text-primary);
  margin: 0 0 20px;
}

.title.title-2 {
  font-size: 20px;
  padding: 0 10px;
}
.title-cate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-section {
  font-weight: 700;
  & a {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--text-secondary);

    & svg {
      margin-left: 6px;
    }
  }
}

.title-tab {
  position: relative;
  & .discovery-link {
    position: absolute;
    right: 0;
    bottom: -42px;
  }
}

.select-tab {
  margin-bottom: 16px;
}

.btn-tab {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.25;
  padding: 4px 24px;
  margin-right: 15px;
  border: 1px solid var(--border-primary);
  color: var(--text-primary);
  text-transform: uppercase;
  &:hover {
    filter: brightness(.9);
  }
  &.tab-selected {
    background-color: var(--color-purple);
    color: var(--color-purple);
    color: var(--color-white);
  }
}

.is60x60 {
  width: 60px;
  height: 60px;
}

.title-wrap {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  min-height: 19px;
}

.title-item {
  font-size: 14px;
  font-weight: 500;
}

.subtitle-item {
  margin-top: 3px;
  font-size: 12px;
}

.performer {
  font-weight: 400;
  color: var(--text-secondary);
  line-height: 1;
}

.item-hover {
  border-radius: 4px;

  &:hover {
    background-color: var(--bg-alpha);
  }
}

.media-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  color: var(--text-primary);
  margin: 0 4px;

  &:hover {
    background-color: var(--bg-alpha);
    color: var(--navigation-text);
  }
}

figure.image-thumb {
  line-height: 0;
}

.playlist {
  margin: 0 -14px;
  .item-playlist {
    padding: 0 14px
  }
  & .card-image {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
    & img {
      width: 100%;
      object-fit: cover;
      transition: transform .7s
    }
    &:hover img {
      transform: scale(1.1) translateZ(0);
    }
    &:hover .box-action {
      display: flex;
    }
    & .box-action {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: none;
      align-items: center;
      background-color: var(--alpha-50);
      z-index: 2;
      & .action-playlist {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }
      & .item-action {
        color: var(--text-primary);
        padding: 5px
      }
    }
  }

  & .card-title {
    font-size: 14px;
    margin-top: 12px;
    color: var(--text-secondary)
  }
  &-5 {
    display: flex;
    align-items: center;
    .item-playlist {
      width: calc(100% / 5);
    }
  }
}
.item-sub:not(.title-wrap) {
  display: block;
}
.is120x120 {
  width: 120px;
  height: 120px;
  img {
    width: 100%;
    object-fit: cover;
  }
}
.btn-38x38 {
  width: 38px;
  height: 38px;
  &.btn-next {
    right: 0
  }
  &.btn-prev {
    left: 0
  }
}
.btn-55x55 {
  width: 55px;
  height: 55px;
  &.btn-next {
    right: 25px
  }
  &.btn-prev {
    left: 25px
  }
}
.wrapper-carousel{
  &:hover .btn-slider {
    display: flex;
  }
  & .btn-slider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    align-items: center;
    justify-content: center;
    background-color: hsla(0,0%,100%,.15);
    box-shadow: 0 2px 4px 0 rgba(226,102,102,.15);
    border-radius: 50%;
    z-index: 2;
  }
}
