@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

:root {
  --primary: #2a213a;
  --bg-layout: #170f23;
  --bg-purple: #34224f;
  --navigation-text: #dadada;
  --navigation-hover: #fff;
  --bg-sidebar: hsla(0, 0%, 100%, 0.05);
  --bg-alpha: hsla(0, 0%, 100%, 0.1);
  --color-purple: #9b4de0;
  --border-primary: hsla(0, 0%, 100%, 0.1);
  --search-text: #eee;
  --color-link: #c273ed;
  --text-primary: #fff;
  --text-secondary: #ffffff80;
  --padding-section: 59px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #2a213a;
}

::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 100%, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background: hsla(0, 0%, 100%, 0.05);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 55%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul,
figure,
h3 {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;

  a {
    color: inherit;
  }

  &.nav-item {
    border-left: 3px solid transparent;
  }

  &.active {
    background-color: var(--bg-alpha);
    border-color: var(--color-purple);
    color: var(--navigation-hover);
  }

  &:hover a {
    color: var(--navigation-hover);
  }
}

button {
  padding: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
}

button.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
}

.btn {
  padding: 10px 24px;
}

.btn-alpha {
  background-color: var(--bg-alpha);
}

.app-layout {
  display: flex;
  height: 100vh;
  background-color: var(--bg-layout);
}

.wrapper-sidebar {
  background-color: var(--bg-sidebar);
  color: var(--navigation-text);
}

.form-control {
  background: none;
  border: 0;
  outline: 0;
  color: var(--search-text);
  font-size: 14px;

  &::placeholder {
    color: var(--search-text);
  }
}

main.main {
  position: relative;
  width: calc(100vw - 240px);
  height: 100vh;
  flex-grow: 1;

  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 70px;
    padding: 0 var(--padding-section);
    overflow: hidden scroll;
  }
}

section.section {
  margin-top: 48px;
}

h3.title {
  color: var(--text-primary);
}

.title.title-2 {
  font-size: 20px;
  padding: 0 10px;
}

.title-section {
  position: relative;
  font-weight: 700;
  margin: 0 0 20px;

  & .discovery-link {
    position: absolute;
    right: 0;
    bottom: -42px;
  }

  & a {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--text-secondary);

    & svg {
      margin-left: 6px;
    }
  }
}

.select-tab {
  margin-bottom: 16px;
}

.btn-tab {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.25;
  padding: 4px 24px;
  margin-right: 15px;
  border: 1px solid var(--border-primary);
  color: var(--text-primary);
  text-transform: uppercase;
}

.is60x60 {
  width: 60px;
  height: 60px;
}

.title-wrap {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  min-height: 19px;
}

.title-item {
  font-size: 14px;
  font-weight: 500;
}

.subtitle-item {
  margin-top: 3px;
  font-size: 12px;
}

.performer {
  font-weight: 400;
  color: var(--text-secondary);
  line-height: 1;
}

.item-hover {
  border-radius: 4px;

  &:hover {
    background-color: var(--bg-alpha);
  }
}

.media-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  color: var(--text-primary);
  margin: 0 4px;

  &:hover {
    background-color: var(--bg-alpha);
    color: var(--navigation-text);
  }
}